/* "GLOBAL"-nav */
body {
    background-color: rgb(191, 208, 239);
}

/* header {
    text-align: center;
} */
.global_head h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 5px;
    margin: auto;
    clear: both;
}
.global_head h1 {
  background: linear-gradient(
    to right, 
    red,
    red 0%,
    blue 100%,
    blue
  );
}
  

/* NAV */
#nav_right {
    float: right;
}
#global_head {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 5px;
    margin: auto;
    clear: both;
}

#global_nav {
    color: lightblue;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: auto;
    margin: auto;
}

#global_nav a {
    color: inherit;
    text-decoration: none;
}
#global_nav ul li a {
    font-size: large;
}
#global_nav li {
    display: inline-block;
    position: relative;
    
}

#global_nav li :hover {
    display: block;
    background-color: orange;
    color: white;
    padding: 0%;
}

#global_nav ul li {
    list-style-type: none;
    padding: 10px;
}

/* Sidebar */
#classFilter {
    background-color: aliceblue;
    border: black 2px solid;
    margin-right: 90%;

}